.app-header {
    background-color: #ffffff;
    position: fixed;
    z-index: 100;
    width: 100%;
    display: flex;
    padding: 0 36px;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    border: 1px solid rgb(238, 238, 238);
    .header-text {
        color: #111;
        font-weight: 700;
    }
}

.upload-page-btn {
    border: unset;
    box-shadow: unset;
    color: #25b864;
}

.ant-dropdown {
    top: 36.3195px;
    width: 200px !important;
    left: 36px !important;
    right: unset !important;
} 

.login-modal {
    .ant-modal-content {
        .ant-modal-body {
            .ant-modal-confirm-body-wrapper {
                .ant-modal-confirm-btns {
                    display: flex;
                    flex-direction: column-reverse;
                    float: unset;
                    button {
                        margin-left: 0px;
                        margin-right: 0px;
                        margin-top: 12px;
                    }
                }
            }
        }
    }
}