.login-btn {
    width: 100%;
}

.signup-btn {
    width: 100%;
}

.login-form {
    .ant-form-item:last-child{
        margin-bottom: 8px
    }
}

.ant-form-item-label > label {
    color: rgba(81, 81, 81, 0.85);
}

.ant-row {
    margin-bottom: 12px
}